body {
 padding-top: 5rem;
}
.starter-template {
 padding: 3rem 1.5rem;
 text-align: center;
}


form {
	width: 50%;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.taille {
	width: 300px;
}

.taillebio {
	width: 300px;
	height: 300px;
}

h1 {
	text-align: center;
}

.space {
	margin-top: 10px;
	text-align: center;
}

.create_user {
	color: #FFC20BFF;
	padding: 14px 20px;
	border: 1px solid #FFC20BFF;
	border-radius: 15px;
	font-size: 27px;
	text-decoration: none;
}
.create_user:hover {
	color: white;
	background-color: #FFC20BFF;
	text-decoration: none;
}
