<main role="main" class="container">
	<div class="starter-template">
		<h1>@ampueropierre et @guillaume sur Slack!</h1>
		<p class="lead"><br> Ca y'est le premier exercice est fini entiérement. On passe au backend et on va créer un utilisateur ensemble. On sera plus discret pour le reste promis. A toi de jouer clique sur l'accueil et crée un utilisateur.</p>
    </div>

</main>

