<main role="main" class="container">
	<div class="starter-template">
		<h1>Pas de surprise, comme on te l'avais dit : c'est toujours nous!!</h1>
       <p class="lead"><br> Bon comme on voit que t'es consciencieux dans les corrections on te laisse cliquer sur le denier lien statique qui est contact dans la navbar et on se retrouve tout de suite.</p>
    </div>

</main>