<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
	<a class="navbar-brand" href="<%= root_path %>">Accueil</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarsExampleDefault">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active">
				<a class="nav-link" href="<%= about_path %>">About</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="<%= contact_path  %>">Contact</a>
			</li>
		</ul>
	</div>
</nav>
<main role="main" class="container">
	<div class="starter-template">
		<h1>Bienvenue sur ma page d'accueil</h1>
		<h2>Pour créer un utilisateur c'est juste en dessous </h2> </a>
		<a href="<%= users_path %>" class="create_user">Crée un utilisateur</a>
	</div>
</main>
