<main role="main" class="container">
	<div class="starter-template">
		<h1>Hé voila c'est moi! enfin nous.. On fait du pair programming quoi..</h1>
       <p class="lead"><br> Voila tu peux voir la page qui était demandé! Au passage tu peux aussi admirer notre superbe mise en forme #mercibootstrap #onatellementgaléréaujourd'hui qu'on a fait ce qu'on a pu niveau design.<br>
      La tu peux revenir sur la page about pour voir le groupe. Spoiler: ca sera toujours nous, ou sinon passer directement à la création d'utilisateur. </p>
    </div>

</main>